    body,button, input,select, textarea,h1 ,h2, h3, h4, h5, h6 { 
        font-family:Microsoft JhengHei;              
    }
    html,body {
         margin: 0; padding: 0; height: 100%; border:none; 
    }


    .divlev1 {
        display:flex;
        flex-direction:column;     
        /*background-color:red;*/
        height:100%;
        font-weight:bold; 
    }
    .divlev21 {
        display:flex;
        flex-direction:row;
        background-color:#202020;             
        align-items:flex-end;
    }
    .divlev211 {
        flex : 5;
        background-color:#202020;     
        color:white;   
    }
    .divlev212 {
        flex : 1;
        text-align:right;
        background-color:#202020;
        color:white;   
    }

    .divlev22 {
        display:flex;
        flex-direction:row;
        /*background-color:yellow;*/
        flex-basis:100%;
    }
    .divlev221 {
        display:flex;
        flex-direction:column;    
        background-color:#282828;
        flex-basis:120px;
        height:100%;
        font-weight:bold; 
    }
    .divlev222 {
        display:flex;
        flex-direction:column;
        /*background-color:cornflowerblue;*/
        flex-grow:1;
        height:100%;
    }
    
.butlink {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  border:none;
  outline:none;
}
    .butlink:hover {
        text-decoration: underline;
        /*border:none;
        outline:none;*/
    }
    /*.butlink:active {        
        border:none;
        outline:none;
    }*/
